
header{
    background-color: $nav-footer-bg;
    position: fixed;
    top: 0;
    width: 100%;

    nav{
        display: flex;
        gap: 10px;
        a{
            text-decoration: none;
            color:$color;
            font-size: 18px;
            // padding: 20px 10px;
            transition: 1s ;
            &:hover{
                color: $main-bg-color;
            }
           
        }

    }
    
.bg-color-bluuu{
    background-color: $main-bg-color;
    .header-text{
        text-align: center;
        padding: 30px;
        color: $color;
        h2{
            font-size: 36px;
            margin-bottom: 45px;
        }
        p{
             font-size: 16px;
             margin-bottom: 20px;
        }
    }
}
}
.sidebar {
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background-color: rgb(75, 75, 75);
    color: white;
    position: fixed;
    left: 0;
    z-index: 9999;
    transition: 1s;
    top: 0;
    transform: translateX(-100%);
  }
  input[type="checkbox"]:checked + .sidebar {
    transform: translateX(0);
  }
  .burger {
    margin-left: 230px;
    margin-top: 10px;
    display: none;
  }
  .sidebar-burger {
    display: flex;
    justify-content: center;
    margin-top: 20px;

  }
  .sidebar-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  input{
    display: none;
  }
main{
    padding: 20px 50px;
    margin-top: 250px;
}
.main-text{
    h2{
        text-align: center;
        font-size: 36px;
        margin-bottom: 20px;
    }
    p{
        text-align: center;
        font-size: 24px;
        margin-bottom: 30px;
    }
}
.section1{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    flex-wrap: wrap;
    img{
        width: 400px;
        border-radius: 25px;
        transition: all 0.5s;

        &:hover{
            opacity: 0.7;
            scale: 1.1;
        }
    }
    
}
.sec-text{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    h4{
        font-size: 16px;
        margin-top: 10px;
        color: grey;
    }
}
footer{
    background-color: $nav-footer-bg;
    position: fixed;
    bottom: 0;
    width: 100%;
    h3{
        text-align: center;
        // padding: 20px;
        font-size: 16px;
        color: $color;
    }
}
@media(max-width:630px){
    .burger{
        display: block;
    }
    
    header{
        background-color: $nav-footer-bg;
    
        nav{
            display: flex;
            gap: 10px;
            a{
                text-decoration: none;
                color:$color;
                font-size: 16px;
                padding: 15px 5px;
                transition: 1s ;
                &:hover{
                    color: $main-bg-color;
                }
               
            }
        }
    .bg-color-bluuu{
        background-color: $main-bg-color;
        .header-text{
            text-align: center;
            padding: 30px;
            color: $color;
            h2{
                font-size: 28px;
                margin-bottom: 35px;
            }
            p{
                 font-size: 13px;
                 margin-bottom: 20px;
            }
        }
    }
    }
    .main-text{
        h2{
            text-align: center;
            font-size: 28px;
            margin-bottom: 20px;
        }
        p{
            text-align: center;
            font-size: 18px;
            margin-bottom: 30px;
        }
    }
    .section1 img{
        width: 350px;
        margin-bottom: 20px;
        text-align: center;
    }
}
@media(max-width:500px){
    header{
        background-color: $nav-footer-bg;
    
        nav{
            display: flex;
            gap: 10px;
            a{
                text-decoration: none;
                color:$color;
                font-size: 14px;
                padding: 15px 5px;
                transition: 1s ;
                &:hover{
                    color: $main-bg-color;
                }
               
            }
        }
    .bg-color-bluuu{
        background-color: $main-bg-color;
        .header-text{
            text-align: center;
            padding: 30px;
            color: $color;
            h2{
                font-size: 20px;
                margin-bottom: 35px;
            }
            p{
                 font-size: 13px;
                 margin-bottom: 20px;
            }
        }
    }
    }
    .main-text{
        h2{
            text-align: center;
            font-size: 26px;
            margin-bottom: 20px;
        }
        p{
            text-align: center;
            font-size: 14px;
            margin-bottom: 30px;
        }
    }
    .section1 img{
        width: 300px;
        margin-bottom: 20px;
        text-align: center;
    }
    footer{
        background-color: $nav-footer-bg;
        position: fixed;
        bottom: 0;
        width: 100%;
        h3{
            text-align: center;
            padding: 20px;
            font-size: 12px;
            color: $color;
        }
    }
}
@media(max-width:380px){
    .section1 img{
        width: 250px;
        margin-bottom: 20px;
        text-align: center;
    }
}